
<div class="home-header">
	

	<div class="nav-wrapper">	
		<h1 class="home-title">Brick Oven Pizza Co.</h1>

		<ul class="nav">
			<li ng-repeat="nav in navArray">
				<a ng-href="#/location" ng-click="setLoc(nav.location)">{{nav.location}}</a>
			</li>
		</ul>
	</div>	
</div>


<div class="home-body-wrapper">
	
<div class="home-arrow">&#8675;</div>

	<div class="home-byline">
		<p >An artisan experience 65 years in the making</p><hr>
	</div>
	
	<div class="home-copy-wrapper">
		<p class="home-copy">
			In 1952, Giueseppe Giacosa started the first Brick Oven Pizza Co. in Brooklyn with a loan from his grandmother. He believed that with top-notch ingredients and a little Sicilian know-how, he could make the best pizza in the borough. Millions of satisfied customers later, his legacy lives on.
		</p>
	</div>
</div>

